* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;

    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

body {
    align-items: center;
    justify-content: space-between;
    background-color: rgb(64, 61, 61);
    background-image: url(./img/fundo.jpg);
    background-size: 100%;
}

@keyframes loading{
    from {
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

a {
    font-family: 'Iceberg', sans-serif;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

.texto1,
.texto2,
.texto3,
.texto4,
.texto5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 17px;
    transition: 0.5s;
    gap: 5px;
}

.links {
    display: flex;
    align-items: center;
    width: 50px;
    height: 60px;
    padding-right: 500px;
}

.logoEmpresa {
    transition: 0.5s;
}

.logoEmpresa:hover {
    width: 95px;
    height: 85px;
    animation: loading 2s linear infinite;
}

.telainicial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 60px;
    padding-top: 30px;

}

.produtosIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(0, 66, 14) 1px;
    width: 100%;
    margin-top: 60px;
    border-radius: 50px;
    transition: 0.5s;
}

.consoles {
    border-radius: 35px;
}

.textodescricao {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: solid black 2px;
    border-top: solid black 2px;
    border-right: solid black 2px;
    opacity: 0;
    transition: 1.0s;
    width: 150px;
    border-radius: 10px;
}

.xyz {
    display: flex;
    transition: 1.0s;
}

.xyz:hover .textodescricao {
    opacity: 1;
}

.texto1:hover {
    color: rgba(176, 1, 1, 0.701);
    background-color: rgba(63, 62, 63, 0.226);
    border-radius: 50px;
}

.texto2:hover {
    color: rgba(55, 3, 167, 0.701);
    background-color: rgba(63, 62, 63, 0.226);
    border-radius: 50px;
}

.texto3:hover {
    color: rgba(0, 137, 5, 0.701);
    background-color: rgba(63, 62, 63, 0.226);
    border-radius: 50px;
}

.texto4:hover {
    color: rgba(66, 0, 137, 0.701);
    background-color: rgba(63, 62, 63, 0.226);
    border-radius: 50px;
}

.texto5:hover {
    color: rgba(169, 185, 2, 0.701);
    background-color: rgba(63, 62, 63, 0.226);
    border-radius: 50px;
}